
@font-face { font-family: Open_Sans-Reg; src: url('fonts/OpenSans-Regular.ttf'); }

h2 {
    font-family: Open_Sans-Reg;

}

.rule_name {
width: 8em;
text-align: center;
}
.rule_queue {
width: 8em;
text-align: center;
}
.rule_range {
width: 5em;
text-align: center;
}

.submit_button {

}
.a_button {

}

.rule_ref {

}

.table-head {

}

