{% extends 'base.html' %}

{% block title %}{{rule}}{% endblock %}

{% block content %}
    {% load choose_operators %}

    <h2>{{rule}}</h2>

    <table class="table">
        <form action="delete/" method="post">
            {% csrf_token %}
            <thead class="table-head">
                <tr>
                    <th><input type="submit" class="submit_button" value="Удалить"></th> 
                    <th onclick="location.href='?sort=operation_type'">Тип</th>
                    <th onclick="location.href='?sort=attribute'">Атрибут</th>
                    <th onclick="location.href='?sort=operator'">Оператор</th>
                    <th>Значение</th>
                    <th></th>
                </tr>
            </thead>

            {% if task %}
                {% for t in task %}
                    <tr class="row">
                        <td><input type="checkbox"  value="{{t.id}}" name="checks"></td>
                        <td><p>{{t.operation_type}}</p></td>
                        <td><p>{{t.attribute}}</p></td>
                        <td><p>{{t.operator}}</p></td>
                        <td>
                            {% make_values_list t.value as list_value %}
                            {% for i in list_value %}
                                <p>{{i}}</p>
                            {% endfor %}
                        </td>
                            
                        <td><a class="a_button" href="update/{{t.id}}">Изменить</a></td>                       
                    </tr>
       
                {% endfor %}
            {% endif %}
        </form>
        <form action="add/" method="post">
            {% csrf_token %}
            <tr class="row">
                <td></td>
                <td>
                    <select id="t_operation" name="operation_new" onchange="location.href='?new='+value+',';">
                        <option value="">Не выбрано</option>
                        {% for i in Dictionaries.all_operations %}
                            <option value="{{i}}" {% if new_t_op == i %} selected="selected" {% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="t_attribute_new" name="attribute_new" onchange="location.href=location.href+value+',';">
                        <option value="">Не выбрано</option>
                        {% for i in Dictionaries.all_attributes %}
                            {% check_attribute i type1 type2 as check_attr %}
                            {% if check_attr %}
                                <option value="{{i}}" {% if attribute_temp == i %} selected="selected" {% endif %} >{{i}}</option>
                            {% endif %} 
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="t_operator_new" name="operator_new" onchange="location.href=location.href+value+',';">
                        <option value="">Не выбрано</option>
                        {% if attribute_temp %}
                            {% choose_operators attribute_temp as op %}
                            {% for i in op %}
                                <option value="{{i}}" {% if new_op == i %} selected="selected" {% endif %}>{{i}}</option>
                            {% endfor %}
                        {% endif %} 
                   </select> 
                </td>
                <td>
                    {% if attribute_temp %}
                            {% choose_values attribute_temp type1 type2 as val %}
                            {% if val and new_op != 'like' and new_op != 'not like' %}
                    <select class="sel_t_value" name="value_new" {% if new_op == 'in' or new_op == 'not in' %} multiple size=3 {% endif %} >
                        <option value="">Не выбрано</option>
                        
                            {% for i in val %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                            
                    </select> 
                    {% else %}
                            <input type="text" class="inp_rule_name" name="value_new"/>
                            {% endif %}
                        {% endif %} 
                </td>
                <td><input type="submit" class="submit_button" value="Сохранить"></td>
            </tr>
        </form>
    </table>
    <br><br>
    <div class="back">
    <form action="back/">
        <input type="submit" class="submit_button" class="back" value="Назад">
    </form>
</div>

{% endblock %}
