{% extends 'base.html' %}

{% block title %}Правила маршрутизации{% endblock %}

{% block content %}
    
    <h2>Правила маршрутизации</h2>

    <div class='search'>
        <select class="sel_search" onchange="location.href='?search='+value;">
            <option value="">Не искать</option>
            <option value="name" {% if request.GET.search == "name" %} selected="selected" {% endif %}>Поиск по названию</option>
            <option value="queue" {% if request.GET.search == "queue" %} selected="selected" {% endif %}>Поиск по очереди</option>
        </select>
        <p>&emsp;&emsp;</p> 
        <input type="text" class="inp_search" onchange="location.href=location.href+','+value;"/>
    </div>
    
    <table class="table">
        <form action="delete/" method="post">
            {% csrf_token %}
            <thead class="table-head">
                <tr>
                    <th><input type="submit" class="submit_button" value="Удалить"></th> 
                    <th onclick="location.href='?sort=name'">Название</th>
                    <th onclick="location.href='?sort=queue'">Очередь</th>
                    <th onclick="location.href='?sort=rule_range'">Ранг</th>
                    <th></th>
                </tr>
            </thead>

            {% if rule_list %}
                {% for a in rule_list %}
                    <tr class="row">
                        <td><input type="checkbox"  value="{{a.id}}" name="checks"></td>
                        <td><a class="rule_ref" href="{% url 'polls:detail' a.id %}">{{a.name}}</a></td>
                        <td><p>{{a.queue}}</p></td>
                        <td><p>{{a.rule_range}}</p></td>
                        <td><a class="a_button" href="{% url 'polls:list_upd' a.id %}">Изменить</a></td>                     
                    </tr>
                {% endfor %}
            {% endif %}
        </form>      
        
        <form action="add/" method="post">
            {% csrf_token %}
            <tr class="row">
                <td></td>
                <td><input type="text" class="inp_rule_name" name="name_new"/></td>
                <td>
                    <select class="sel_rule_queue" name="queue_new">
                        {% for i in Dictionaries.all_queues %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="number" class="inp_rule_range" name="rule_range_new"/></td>
                <td><input type="submit" class="submit_button" value="Сохранить"></td>  
            </tr>
        </form>
    </table>    
    {% if search %}
     <br><br>
        <div class="back">
            <form action="back/">
                <input type="submit" class="submit_button" class="back" value="На главную">
            </form>
        </div>
    {% endif %}
{% endblock %}