{% extends 'base.html' %}

{% block title %}Правила маршрутизации{% endblock %}

{% block content %}
    
    <h2>Правила маршрутизации</h2>
    
    <!-- <p>Поиск по названию</p> -->
    <!-- <input type="text" class="find"/> -->

    <table class="table">

        <thead class="table-head">
            <tr>
                <th><input type="submit" class="submit_button hide" value="Удалить"></th> 
                <th onclick="location.href='?sort=name'">Название</th>
                <th onclick="location.href='?sort=queue'">Очередь</th>
                <th onclick="location.href='?sort=rule_range'">Ранг</th>
                <th></th>
            </tr>
        </thead>
        {% if rule_list %}
            {% for a in rule_list %}
                {% if a.id != id_to_update %}
                    <tr class="row">
                        <td><input type="checkbox"  value="{{a.id}}" name="checks"></td>
                        <td><a class="rule_ref" href="{% url 'polls:detail' a.id %}">{{a.name}}</a></td>
                        <td><p>{{a.queue}}</p></td>
                        <td><p>{{a.rule_range}}</p></td>
                        <td><a class="a_button" href="{% url 'polls:list_upd' a.id %}">Изменить</a></td>                     
                    </tr>
                {% else %}
                <tr class="row">
                    <form action="save/" method="post">
                        {% csrf_token %}
                        <td><input type="checkbox"  value="{{a.id}}" name="checks"></td>
                        <td><input type="text" class="inp_rule_name" name="name" value="{{a.name}}"/></td>
                        <td>
                            <select class="sel_rule_queue" name="queue">
                            {% for i in Dictionaries.all_queues %}
                                {% if i == a.queue %}
                                    <option selected value="{{i}}">{{i}}</option>
                                {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td><input type="number" class="inp_rule_range" name="rule_range" value="{{a.rule_range}}"/></td>
                        <td><input type="submit" class="submit_button" value="Сохранить"></td>     
                    </form>                     
                </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
 
        
    </table>  
    <br><br>
    <div class="back">
    <form action="back/">
        <input type="submit" class="submit_button" class="back" value="Назад">
    </form>
</div>
{% endblock %}
